html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
/*@font-face {
    font-family: "Single Day";
    src: url("../fonts/SingleDay-Regular.woff2") format("woff2"),
        url("../fonts/SingleDay-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
*/
@font-face {
    font-family: "Cute Aurora";
    src: url("../fonts/Cute_Aurora_demo.woff2") format("woff2"),
        url("../fonts/Cute_Aurora_demo.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
	box-sizing: border-box;
}
body {
	font-family: "Cute Aurora", 'Arial', sans-serf;
	margin: 0;
	padding: 0;
	height: 100vh;
	background: linear-gradient(to bottom,
		rgba(22,22,22,.3) 0,
		rgba(22,22,22,.7) 75%,
		#161616 100%), url('../img/banner.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed; 	
	background-size: cover;
	background-position: center center;
}
.site-becgroundimg {
	display: flex;
	min-width: 100%;
	height: 100vh;
}
.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 180px;
}
.site-title {
	display: flex;
	justify-content: center;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 50px;
	margin-bottom: 50px;
	margin-top: 0;
	color: #acc;
}
.site-text__span {
	display: flex;
	justify-content: center;
	font-size: 25px;
	color: #acc;
}
.site-navbar__box {
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 62px;
	background-color: black;
	display: flex;
	align-items: center;
	padding-left: 30px;
	padding-right: 30px;
}
.site-list {
	display: flex;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.site-nav__link {
	margin-left: 20px;
}
.site-item--logo {
	margin-right: auto;
}
.site-list__logoimg {
	font-size: 35px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}
.site-item__logolink {
	width: 40px;
	height: 40px;
	flex-shrink: 0;
	border-radius: 50%;
	background-color: #fff;
	margin-left: 20px;
}
.site-item__link {
	text-decoration: none;
	display: inline-flex;
	color: #fff;
	font-size: 18px;
}
.message-link {
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	background-color: #fff;
	border-radius: 50%;
}
.message-link__span {
	color: #000;
}
.site-link {
	display: inline-block;
	color: black;
	font-size: 24px;
	text-decoration: none;
	transition: background-color 0.3s ease, border-radius 0.3s ease, color 0.3s ease !important;
}
.avatar-logo__link {
	list-style-type: none;
	display: flex;
	align-items: center;
	padding: 0;
	margin-top: 10px;
}
.rezume-link {
	color: #fff;
	padding: 10px 20px;
	border-radius: 10px;
	background: linear-gradient(135deg, #ac5 0%, grey 100%);
}
.avatar-link {
	display: flex;
	justify-content: center;
	border-radius: 50%;
	transition: color 0.3s ease,
				background-color 0.3s ease;
}
.avatar-link span {
	line-height: 40px;
}
.avatar-link:hover {
	color: #fff;
	background-color: black;
}
.site-section {
	background: linear-gradient(to bottom,
		#161616 0,
	    #e8e8e8 100%);
}
.site-portfolio {
	display: flex;
	align-items: center;
	padding: 200px 0 80px;
	color: black;
	margin-top: 0;
	margin-bottom: 0;
}
.site-avatar__text {
	max-width: 800px;
	padding: 30px;
}
.avatar-img {
	object-fit: cover;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.site-portfolio__title {
	margin: 0;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 30px;
}
.site-portfolio__text {
	margin: 0;
	font-size: 25px;
	font-weight: bold;
}
.site-section__box {
	background-color: #e8e8e8;
}
.box{
	padding-top: 20px;
	padding-bottom: 50px;
	margin-top: 0;
	margin-bottom: 0;
	color: black;
}
.portfolio-text {
	text-align: center;
}
.site-project {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 80px;
}
.site-project__card {
	max-width: 300px;
	height: 300px;
	margin-right: 35px;
	margin-left: 35px;
	margin-bottom: 120px;
	text-align: center;
}
.project-box__text {
	max-width: 300px;
	height: 300px;
	border-radius: 11px;
	margin-bottom: 20px;
	background-color: gold;
	position: relative;
	overflow: hidden;
}
.project-box__img {
	border-radius: 10px;
	object-fit: cover;
}
.project-box__wrapper {
	position: absolute;
	max-width: 300px;
	height: 300px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	text-align: center;
	padding: 20px;
	background-color: gold;
	border-radius: 10px;
	transform: translateY(-300px);
	transition: transform 0.3s ease;
}
.site-project__card:hover .project-box__wrapper {
	transform: translateY(0);
}
.site-projectlink {
	display: inline-block;
	margin-top: 30px;
	font-size: 18px;
	text-decoration: none;
	padding: 10px 20px 10px 20px;
	background-color: skyblue;
	border-radius: 25px;
	color: black;
	border: 2px solid transparent;
	transition: border 0.5s ease;
}
.site-footer {
	background-color: #161616;
	color: white;
	padding: 60px 0 60px;
}
.footer-text {
	margin: 0;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
}
.scroll-up__boxlink {
	position: fixed;
	z-index: 2;
	bottom: 1.6em;
	right: 1.6em;
	width: 40px;
	height: 40px;
	font-size: 20px;
	outline: none;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	line-height: 40px;
	text-align: center;
	background-color: orange;
	display: none;
	cursor: pointer;
	color: black;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	border: 2px solid transparent;

}
.open-toggler {
	display: none;
}
.close-toggler {
	display: none;
}
/*animation*/
.btnEntranse {
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: btnEntranse;
}
@keyframes btnEntranse {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
.btnExit {
	animation-duration: 0.25s;
	animation-fill-mode: both;
	animation-name: btnExit;
}
@keyframes btnExit {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
}

@media only screen and (max-width: 1190px) {
	.site-project__card {
		max-width: 250px;
	}
	.project-box__img {
		width: 250px;
	}
}
@media only screen and (max-width: 980px) {
	.site-portfolio {
		display: block;
		padding-top: 100px;
	}
	.site-avatar__text {
		max-width: 100%;
		text-align: center;
		padding-bottom: 80px;
	}
	.avatar-img__box {
		background-image: url("../img/img.jpg");
		background-repeat: no-repeat;
		display: flex;
		background-size: 100%;
		width: 100%;
		height: 100vh;
		background-attachment: fixed;
	}
	.avatar-img {
		display: none;
	}
	.avatar-logo__link {
		justify-content: center;
		margin-top: 30px;
	}
	.avatar-logo__link {
		text-align: center;
	}
	.site-project__card {
		max-width: 250px;
	}
	.project-box__img {
		width: 250px;
	}
}
@media only screen and (max-width: 980px) {
	.site-project {
		display: block;
	}
	.site-project__card {
		max-width: 500px;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 100px;
	}
	.site-project__card:nth-child(3) {
    	margin-right: auto;
	}
	.project-box__text {
		max-width: 500px;
		height: 500px;
		margin-left: auto;
		margin-right: auto;
	}
	.project-box__img {
		width: 500px;
		height: 500px;
	}
	.project-box__wrapper {
		max-width: 500px;
		height: 500px;
		transform: translateY(-500px);
	}
}
@media only screen and (max-width: 600px) {
	.site-project__card {
		max-width: 300px;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 100px;
	}
	.site-project__card:nth-child(3) {
    	margin-right: auto;
	}
	.project-box__text {
		max-width: 300px;
		height: 300px;
		margin-left: auto;
		margin-right: auto;
	}
	.project-box__img {
		width: 300px;
		height: 300px;
	}
	.site-projectlink {
		margin-top: 0;
	}
	.project-box__wrapper {
		max-width: 300px;
		height: 300px;
		transform: translateY(-300px);
	}
}
@media only screen and (max-width: 550px) {
	.site-list {
		width: 250px;
		height: 100vh;
		right: 0;
		display: none;
		position: fixed;
		top: 0;
		z-index: 100;
		padding: 50px 30px;
		background-color: #014E56;
	}
	.site-list::before {
		position: absolute;
    	display: inline-block;
    	content: '';
    	left: 0;
    	right: 0;
    	top: 0;
    	transform: translateX(-100%);
    	bottom: 0;
    	background-color: #014E56;
    	opacity: 0.5;
    	display: inline-block;
    	width: 100vw;
    	height: 100%;
    	z-index: 100;
	}
	.site-nav__link {
		margin-left: 0;
		margin-bottom: 20px;
	}
	.site-title {
		font-size: 35px;
	}
	.site-text__span {
		font-size: 25px;
	}
	.open-toggler {
		display: block;
		position: absolute;
		right: 30px;
		background-image: url('../img/open.svg');
		background-repeat: no-repeat;
		width: 29px;
		height: 19px;
		padding: 0;
		outline: none;
		border: none;
		z-index: 10;
		background-color: black;
	}
	.close-toggler {
		position: absolute;
		top: 25px;
		right: 25px;
		display: none;
		background-image: url('../img/close.svg');
		background-repeat: no-repeat;
		width: 25px;
		height: 25px;
		padding: 0;
		outline: none;
		border: none;
		z-index: 10;
		background-color: #014E56;
	}
}
.open--toggler {
	display: block;
}