html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	padding: 0;
	margin: 0;
}
@font-face {
    font-family: "Single Day";
    src: url("../fonts/SingleDay-Regular.woff2") format("woff2"),
        url("../fonts/SingleDay-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
	box-sizing: border-box;
}
body {
	font-family: "Single Day", 'Arial' !important;
	margin: 0;
	padding: 0;
}
.site-becgroundimg {
	display: flex;
	min-width: 100%;
	min-height: 100%;
	background: linear-gradient(to bottom,
		rgba(22,22,22,.3) 0,
		rgba(22,22,22,.7) 75%,
		#161616 100%), url('../img/banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.container {
	width: 1200px;
	margin: 120px auto;
}
.site-title {
	display: flex;
	justify-content: center;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 40px;
	margin-bottom: 50px;
	margin-top: 0;
	color: #acc;
}
.site-header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.site-list {
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 62px;
	background-color: black;
	display: flex;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.site-item--logo {
	margin-right: auto;
}
.site-list__logoimg {
	font-size: 35px;
	font-weight: bold;
	text-decoration: none !important;
	color: #fff !important;
	margin-left: 40px;
}
.site-link {
	display: inline-block;
	color: #fff;
	font-size: 24px;
	margin-right: 20px;
	text-decoration: none !important;
	transition: background-color 0.3s ease, border-radius 0.3s ease, color 0.3s ease !important;
}
.site-link:hover {
	color: orange !important;
}
.site-porfolioimg {
	/*object-fit: cover;*/
	margin-bottom: 20px;
	/*border-radius: 50%;*/
	/*box-shadow: 0 0 4px 5px orange;*/
	/*transition: box-shadow 0.5s ease;*/
}
.site-porfolioimg:hover {
	/*box-shadow: 0 0 5px 5px #aacccc !important;*/
}
.site-section {
	background: linear-gradient(to bottom,
		#161616 0,
	    #e8e8e8 100%);
}
.site-portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 200px 0 80px;
	color: black;
	margin-top: 0;
	margin-bottom: 0;
}
.site-portfolio__title {
	margin: 0;
	margin-bottom: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}
.site-portfolio__text {
	margin: 0;
	margin-bottom: 80px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}
.site-section__box {
	background-color: #e8e8e8;
}
.box{
	padding-top: 20px;
	margin-top: 0;
	margin-bottom: 0;
	color: black;
}
.site-project {
	display: flex;
	justify-content: center;
}
.site-project__card {
	margin-right: 70px;
	margin-bottom: 100px;
	text-align: center;
}
.site-project__card:nth-child(3) {
	margin-right: 0;
}
.site-projectimg {
	transition: transform 0.5s ease;
	transform: translateY(0);
}
.site-projectimg:hover {
	transform: translateY(-30px);
}
.site-projectlink {
	display: inline-block;
	margin-top: 30px;
	font-size: 18px;
	text-decoration: none !important;
	padding: 10px 20px 10px 20px;
	background-color: skyblue;
	border-radius: 25px;
	color: black;
	border: 2px solid transparent;
	transition: border 0.5s ease;
}
.site-projectlink:hover {
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	background-color: white;
	border: 2px solid skyblue;
	color: black;
}
/*.box-information {
	padding-bottom: 100px;
}*/
/*.container-information {
	display: flex;
	align-items: center;
}*/
/*.site-information {
	width: 33.3%;
	margin-right: 60px; 
	border-radius: 5px;
	padding: 30px;
	text-align: center;
	border-bottom: 4px solid #64a19d;
	background-color: #fff;
}*/
/*.site-section__information {
	background: linear-gradient(to bottom,
		#e8e8e8 0,
	    #161616 100%);
	padding-top: 80px;
}*/
/*.site-information:nth-child(3n){
	margin-right: 0;
}*/
/*.site-information__text {
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
	margin: 10px 0 10px;
	padding-bottom: 20px;
   	border-bottom: 3px solid #64a19d;
}*/
/*.site-information__link {
	text-decoration: none !important;
	color: black !important;
}*/
.site-progress {
	background: linear-gradient(to bottom,
		#e8e8e8 0,
	    #161616 100%);
	padding-bottom: 50px;
}
.site-progress__container {
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.site-progress__title {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 10px;
	color: black;
}
.site-progress__containerbox{
	margin-right: auto;
}
.progress-box {
	width: 400px !important;
	height: 20px !important;
	margin: 0 auto 20px;
	font-size: 12px !important;
}
.progress-box:nth-child(4n) {
	margin-bottom: 0 !important;
}
.site-footer {
	background-color: #161616;
	color: white;
	padding: 60px 0 60px;
}
.footer-text {
	margin: 0;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
}
.scroll-up__boxlink {
	position: fixed;
	z-index: 999;
	bottom: 1.6em;
	right: 1.6em;
	width: 40px;
	height: 40px;
	font-size: 20px;
	outline: none !important;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	line-height: 40px;
	text-align: center;
	background-color: orange;
	display: inline-block;
	color: black !important;
	transition-duration: 0.2s !important;
	transition-timing-function: ease-in-out !important;
	border: 2px solid transparent !important;

}
.scroll-up__boxlink:hover {
	background-color: #fff;
	border: 2px solid black !important;
}
/*animation*/
.btnEntranse {
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: btnEntranse;
}
@keyframes btnEntranse {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
.btnExit {
	animation-duration: 0.25s;
	animation-fill-mode: both;
	animation-name: btnExit;
}
@keyframes {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
}
@media (max-width: 360px) {
	body{
		background-color: #fff;
	}
	.container {
		width: 100% !important;
		padding: 0 !important;
		margin: 0 !important;
		background-color: #fff;
	}
	.site-item--logo {
		display: none;
	}
	.site-section {
		background: none;
		background-color: none;
	}
	.site-portfolio {
		width: 360px !important;
	}
	.site-portfolio__text {
		width: 360px;
		text-align: left;
	}
	.site-becgroundimg {
		display: block;
	}
	.box {
		margin: 0;
	}
	.site-section__box {
		width: 360px;
		background-color: #fff;
	}
	.site-list {
		height: 80px;
	}
	.site-item__logolink {
		margin: 0 10px;
	}
	.site-list__logoimg {
		margin: 0;
	}
	.site-link {
		margin: 0;
	}
	.site-title {
		width: 360px;
		margin-right: 0;
		margin-left: 40px;
		padding-top: 80px;
	}
	.site-porfolioimg{
		margin: 0 0 0 180px; 
	}
	.site-portfolio {
		width: 360px;
		text-align: center;
	}
	.site-project {
		display: block;
		margin-bottom: 0;
	}
	.site-projectimg {
		width: 360px;
	}
	.site-project__card {
		width: 360px;
		margin-bottom: 40px;
		margin-right: 0;
		margin-left: 0;
	}
	.site-project__card:nth-child(9n) {
		margin-bottom: 0;
	}
	.site-portfolio__text {
		width: 360px;
		text-align: center;
	}
	.container-information {
		display: block;
	}
	.site-information {
		margin: 0;
	}
	.site-information {
		margin-bottom: 20px;
	}
	.site-section__information {
		display: none;
	}
	.site-footer {
		width: 360px;
	}
	.site-progress {
		background: white !important;
	}
	.site-progress__container {
		display: block;
		margin: 0 auto;
		margin-left: 20px !important;
	}
	.progress-box {
		width: 360px !important;
		margin: 0 auto !important;
		height: 10px;
	}
}
@media (max-width: 480px) {
	body{
		background-color: #fff;
	}
	.container {
		width: 432px;
		margin: 0;
		background-color: #fff;
	}
	.site-item--logo {
		display: none;
	}
	.site-section {
		background: none;
		background-color: none;
	}
	.site-portfolio {
		width: 432px !important;
	}
	.site-portfolio__text {
		width: 432px;
		text-align: left;
	}
	.site-becgroundimg {
		display: block;
	}
	.box {
		margin: 0;
	}
	.site-section__box {
		width: 432px;
		background-color: #fff;
	}
	.site-list {
		height: 80px;
	}
	.site-item__logolink {
		margin: 0 10px;
	}
	.site-list__logoimg {
		margin: 0;
	}
	.site-link {
		margin: 0;
	}
	.site-portfolio {
		width: 432px;
		text-align: center;
	}
	.site-project {
		display: block;
		margin-bottom: 0;
	}
	.site-projectimg {
		width: 432px;
	}
	.site-project__card {
		width: 432px;
		margin-bottom: 40px;
		margin-right: 0;
		margin-left: 0;
	}
	.site-project__card:nth-child(9n) {
		margin-bottom: 0;
	}
	.site-portfolio__text {
		width: 432px;
		text-align: center;
	}
	.container-information {
		display: block;
	}
	.site-information {
		margin: 0;
	}
	.site-information {
		margin-bottom: 20px;
	}
	.site-section__information {
		display: none;
	}
	.site-footer {
		width: 432px;
	}
}